<app-navbar></app-navbar>
<div class="container mt-3">
  <div style="text-align: center">
    <button type="button" class="btn btn-success" routerLink="/addbook">
      Create Book
    </button>
    <br /><br />
  </div>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item" *ngFor="let book of books">
      <strong>Title:</strong> {{ book.title }}, <strong>Author:</strong>:
      {{ book.author }}, <strong>Price:</strong> {{ book.price }} <br /><br />
      <button
        type="button"
        class="btn btn-success me-2"
        data-bs-toggle="modal"
        data-bs-target="#updateBook"
        (click)="updateBookModal(book)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteBook(book.id)"
      >
        Delete
      </button>
    </li>
  </ol>
</div>

<div
  class="modal fade"
  id="updateBook"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Book</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Title:</label>
          <input type="text" class="form-control" id="title" />
        </div>

        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Author:</label>
          <input type="text" class="form-control" id="author" />
        </div>

        <div class="mb-3">
          <label for="message-text" class="col-form-label">Description:</label>
          <textarea class="form-control" id="description"></textarea>
        </div>

        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Price:</label>
          <input type="number" class="form-control" id="price" />
        </div>
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Image Url:</label>
          <input type="text" class="form-control" id="imageUrl" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="updateBook()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
