<div style="background-color: #e1dcc5">
  <app-navbar></app-navbar>
  <div class="container mt-3">
    <h1>All Users</h1>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item mb-3" *ngFor="let user of users">
        {{ user.firstname }} {{ user.lastname }} <br />
        {{ user.email }} <br />
        Role:
        <strong [style.color]="user.role === 'ADMIN' ? 'green' : 'black'">{{
          user.role
        }}</strong>
        <br /><br />
        <button
          type="button"
          class="btn btn-success me-2"
          (click)="makeAdmin(user.email)"
          *ngIf="user.role !== 'ADMIN'"
        >
          Make Admin
        </button>
        <button
          type="button"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#updateUser"
          (click)="updateUserId(user.id)"
        >
          Update
        </button>
      </li>
    </ol>
  </div>
</div>

<div
  class="modal fade"
  id="updateUser"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">First Name:</label>
          <input type="text" class="form-control" id="firstname" />
        </div>

        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Last Name:</label>
          <input type="text" class="form-control" id="lastname" />
        </div>

        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Email:</label>
          <input type="text" class="form-control" id="email" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="updateUser()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
